body {
	margin: 0;
	background-color: black;
	font-family: 'Times New Roman', Times, serif;
}

img{
	width:250px;
	height:180px;
}
.btn-primary{
	border: 4px solid palevioletred;
	border-radius: 8px;
	
	background-color: palevioletred;
	
}
.d-flex{
	margin-bottom: 12px;
	background-color: gainsboro;
}





